h1 {
	display: block;
	font-size: 1.85em;
	margin-before: 0.67em;
	margin-after: 0.67em;
	margin-start: 0;
	margin-end: 0;
	font-weight: bold;
}

#headBlock{
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
}

.insName{
	font-family: Arial,Helvetica,sans-serif;
	color: #4C7FA6;
	font-weight: bold;
}

#helpName{
	font-family: Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin-top: 5%;
}

#mainBlock{
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-family: Arial,Helvetica,sans-serif;
}

#loginTable{
	font-weight: bold;
	color: #4C7FA6;
	font-size: 17px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=password] {
    padding:5px; 
    border:2px solid #ccc;
    border-radius: 5px;
}

input[type=password]:focus {
    border-color:#333;
}

#selectBox{
	padding:5px; 
    border:2px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 6px;
    width: 10em;
    height: 2.5em;
}

input[type=button] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 6px;
    width: 10em;
    height: 2.5em;
}

#submitButton{
	margin-top: 5px;
	margin-bottom: 5px;
}

#passwordChange{
	margin-top: 2%;
	margin-bottom: 2%;
}

.errOutput{
	font-size: 12px;
	color: red;
    font-weight: bold;
}

.footer {
    font-family: Arial,Helvetica,sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
    color: #4C7FA6;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

input[placeholder] { 
    text-overflow: ellipsis; 
}

#dataTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#dataTable td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#dataTable tr:nth-child(even){background-color: #f2f2f2;}

#dataTable tr:hover {background-color: #ddd;}

#dataTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C7FA6;
    color: white;
}